@font-face {
  font-family: 'LINE Seed JP';
  src: url('/fonts/LINESeedJP_OTF_Th.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LINE Seed JP';
  src: url('/fonts/LINESeedJP_OTF_Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LINE Seed JP';
  src: url('/fonts/LINESeedJP_OTF_Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LINE Seed JP';
  src: url('/fonts/LINESeedJP_OTF_Eb.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.note-embed-frame {
  border: 0;
  display: block;
  max-width: 99%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
